/* =========== 
0. Common
=========== */
main#for-party section {
  padding: 40px 0 82px;
}

/* =========== 
1. Concept   2. Box
=========== */

.title_party {
  text-align: center;
  font-size: 24px;
}

.party-box {
  width: 100%;
  height: 300px;
}
.party-box a {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.party-box a:after {
    -webkit-transition: width 0.2s ease;
    transition: width 0.2s ease;
    position: absolute;
    content: '';
    left: 0;
    height: 1px;
    width: 0;
    background: #ffffff
}
.party-box:hover a:after {
    width: 100%
}
.bg-mask {
  background-color: rgba(0,0,0, .5);
  transition: all 0.5s;
  height: 100%;
  width: 100%;
  position: relative;

}
.bg-mask:hover {
  background-color: rgba(0,0,0, .2);
}
.bg_business {
  background: url(../images/party/business_private.JPG);
  background-size: cover; 
}
.bg_wedding {
  background: url(../images/party/wedding.jpg);
  background-size: cover; 
}
.bg_rental {
  background: url(../images/party/space_rental.jpg);
  background-size: cover; 
}

.party-title {
  text-align: center;
  font-size: 20px;
  position: relative;
  top: 50%;
}


@media screen and (max-width: 768px) {
  .party-box {
    width: 100%;
    height: 160px;
  }

  .title_party{
  	font-size: 16px;
  }
}
/* =========== 
2.Bussiness , 3.Wedding
=========== */
main section.business {
  /*background-color: #4D3215;*/
  background-color: #84694C;
  /*#10151a*/
}
.plan-box {
  padding: 20px;
  border: 1px solid #ddd;
  margin: 10px;
}

main section.wedding {
  background-color: #ffffff;
  color: #10151a;
}
.wedding h2:after,
.equipment h2:after {
    position: absolute;
    left: 0;
    bottom: -4px;
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: #000;
}

.wedding .plan-box {
  box-shadow: 1px 1px 7px #999;
}

/* =========== 
4. Rental
=========== */
.rental .flex-container {
  flex-direction: column;
}
.rental .texts-box {
  text-align: left !important;
}
.couple_box {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.box-left {
  margin: auto 30px;
}

.box-right {
  text-align: left;
  margin-right: 30px;
}

.time-size{
  font-size: 19px;
}
.space_s_day {
  margin-right: 20px;
}
.space_m_day {
  margin-right: 40px;
}
.space_l_day {
  margin-right: 60px;
}

@media screen and (max-width: 768px) {
  .rental .texts-box {
    text-align: center !important;
  }
  .rental .plan-box {
    max-width: 319px;
    margin: 10px auto;
    box-sizing: border-box;
  }
  .box-right {
    text-align: left;
     margin-right: 0; 
  }
  .space_s_day {
    margin-right: 12px;
  }
  .space_m_day {
    margin-right: 30px;
  }
  .space_l_day {
    margin-right: 40px;
  }
  main#for-party section#contents {
  	padding: 0px;
  }

}
@media screen and (max-width: 320px) {
  .rental .plan-box {
    max-width: 305px;
  }
}


/* =========== 
5.Equipment
=========== */
main section.equipment,
.option {
  background-color: #ffffff;
  color: #10151a;
}

.table {
  border: 1px solid #10151a;
  border-collapse: collapse;
  margin-right: 2%;
  width: 578px;
  font-size: 1.4rem;
}

.table td {
  padding: 12px;
}
.equipment .texts-box{
  /*padding: 0px 130px;*/
}
.td-name {
  color: #fff;
  background-color: #10151a;
  border-bottom: 1px solid #fff;
  width: 45px;
}
.td-name+td {
  padding-left: 20px;
  text-align: left;
}
.td-last{
  border-bottom: 1px solid #10151a;
}

.equipment .images {
  width: 546px;
}

.eqipment-img {
  width: 100%;
  height: 331px;
  object-fit: cover;
}

@media screen and (max-width: 1133px) {
  .equipment .flex-container {
    flex-direction: column;
    width: 100%;
  }
  .equipment .images {
    order: 1;
  }
  .table {
    order: 2;
    font-size: 1rem;
  }
  .equipment .images {
    width: 579px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .table, .equipment .images {
    width: 316px;
  }
  .table td {
    padding: 10px;
  }
  .eqipment-img{
    height: 211px;
  }

}
/* Option */
.option .border {
    height: 1px;
    width: 80%;
    margin: -20px auto 60px;
    background: #000;
}
.option-title {
  padding: 13px;
  width: 80%;
  margin: 0 auto 40px;
  box-sizing: border-box;
}
.title-black{
  background-color: #000;
  color: #fff;
}
.title-white{
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 7px #999;
  color: #000;
}
.f_container {
  display: flex;
  width: 100%;
  justify-content: left;
  flex-wrap: wrap;
}
.icon {
  display: inline-block;
  padding: 0 14px;
  margin-bottom: 30px;
  width: 50px;
  height: 50px;
}
.icon img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .option .border {
    margin: -20px auto 30px;
  }
}


























