/* =========== 
Fade Animation Css
=========== */
.invisible {
  transition: opacity 2.5s ease;
  opacity: 0.0;
  transform: translateY(20px);
}

.visible {
  transition: opacity 2.5s ease;
  opacity: 1.0;
  transform: translateY(0);
/*  animation-name: fadein;
  animation-duration: 3s;*/
}
/*@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}*/

/* =========== 
Common 
=========== */

.button {
  margin: 0 auto;
}
.title_space {
  margin-bottom: 20px;
}
.texts {
  text-align: center;
  margin: auto auto;
}
.mb3 {margin-bottom: 3px;}

.flex-container {
  display: flex;
  width: 100%;
}
.flex {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .only_pc {
    display: none;
  }
}
/* =========== 
Header 
=========== */
.top_tel {
  font-size: 1.8rem;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .top_tel {
    font-size: 1.5rem;
    position: absolute;
    left: 63%;
  }
}

@media screen and (max-width: 320px) {
  .top_tel {
    left: 55%;
  }
}
/* =========== 
Main visual 
=========== */
.logo-wrap {
    width: 100%;
    display: block;
    position: relative;
    height: 105px;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
}

.logo-box {
    width: 260px;
    height: 100%;
    background-color: #fff;
    margin: 0 auto;
    background: url(../images/logo.png);
    background-size: cover; 
}

/* Top 黒帯とロゴ */
@media screen and (max-width: 414px) {
  .logo-wrap {
    height: 55px !important;
  }
  .logo-box {
    width: 136px !important;
  }
}

/* =========== 
About
=========== */
@media screen and (min-width: 768px) {
  .sp_br{
    display: none;
  }
}

/* =========== 
Course 
=========== */
main section.food {
  display: block !important;
  background-color: #10151a;
}

main section.food .texts {
  padding: 20px 0;
}

.texts-box {
  line-height: 3rem;
  margin-bottom: 3rem;
}

.btn-wrap {
  padding: 3rem;
}

@media screen and (max-width: 768px) {
  .flex-container {
    flex-direction: column;
    width: 100%;
  }
  .texts-box {
    line-height: 2rem;
    margin-bottom: 0;
　}
  .food_space {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* =========== 
森尻さん
=========== */
main section.mori {
  background-color: #080A0E;
}
main section.mori .texts {
  background-color: #080A0E;
}

/* =========== 
Contact
=========== */
.contact {
  background-color: #10151a;
}
main section.contact .texts {
  padding: 40px;
}
.icon-box {
  height: 180px;
  width: 100%;
}
.icon-space {
  display: table;
  height: 180px;
  width: 33.3%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
.icon-space:nth-child(1):after,
.icon-space:nth-child(2):after
 {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: #fff;
  opacity: 0.3;
}
.icon-posi {
  margin: auto 0;
  display: table-cell;
  vertical-align: middle;
}

.icon-posi a {
  transition: color .5s, text-decoration .3s;
  opacity: 1;
}
.icon-space img {
  transition: opacity .3s ease-out;
}
.i_tel:hover a {
  color: indianRed;
}
.i_line:hover a {
  color: #18B901;
}
.i_contact:hover a {
  color: lightSeaGreen;
}
.icon-space img:hover {
  opacity: .3;
}


.icon-text {
  font-size: 14px;
  margin: 10px auto;
}
.tel {
  width: 17%;
/*  background: url(../images/contact/tel.png) no-repeat;
  background-size: cover;
  width: 24%;
  height: 46%;*/
}
.line {
  width: 17%;
  /*background: url(../images/contact/line.png) no-repeat;
  background-size: cover;
  width: 24%;
  height: 46%;*/
}
.mail {
  width: 20%;
  margin-top: 5px;
  margin-bottom: 5px;
  /*background: url(../images/contact/mail.png) no-repeat;
  background-size: cover;
  width: 27%;
  height: 35%;*/
}

/* Icon ３つ */
@media screen and (max-width: 768px) {
  .icon-box {
    height: 110px;
    padding-top: 40px;

  }
  .icon-text {
    font-size: 10px;
  }
  .icon-space {
    height: 100px;
    padding: 0px;
  }
  .icon-space:nth-child(1):after,
  .icon-space:nth-child(2):after
   {
    height: 90%;
  }
  .tel {
    width: 40%;
  }
  .line {
    width: 40%;
  }
  .mail {
    width: 44%;
    margin-top: 3px;
    margin-bottom: 3px;
  }
}


/* =========== 
Footer
=========== */


/* =========== 
Google map
=========== */
iframe{
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
   
iframe:hover{
  transition: filter 0.8s ease;
  -webkit-filter: grayscale(0) saturate(2);
  filter: grayscale(0) saturate(2);
}

/*=======================
1. Fadein Animation
=======================*/
.sample-text {
  opacity: 0;
}

.sample-text.show {
  opacity: 1;
  animation-name: fadein;
  animation-duration: 2s;
}
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}






