/* =========== 
Fade Animation Css
=========== */
.invisible {
  transition: opacity 2.5s ease;
  opacity: 0.0;
  transform: translateY(20px);
}

.visible {
  transition: opacity 2.5s ease;
  opacity: 1.0;
  transform: translateY(0);
}


/* =========== 
Common 
=========== */

.button {
  margin: 0 auto;
}
.title_space {
  margin-bottom: 20px;
}
.texts {
  text-align: center;
  margin: auto 0;
}
.mb3 {margin-bottom: 3px;}
/* =========== 
Header 
=========== */



/* =========== 
Main visual 
=========== */
.logo-wrap {
    width: 100%;
    display: block;
    position: relative;
    height: 105px;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
}

.logo-box {
    width: 260px;
    height: 100%;
    background-color: #fff;
    margin: 0 auto;
    background: url(../images/logo.png);
    background-size: cover; 
}
/* =========== 
Course 
=========== */
main section.food {
  display: block !important;
  background-color: #10151a;
}
.flex-container {
  display: flex;
}

main section.food .texts,
main section.contact .texts {
  padding: 20px 40px;
}
.texts-box {
  line-height: 3rem;
}

.btn-wrap {
  padding: 3rem;
}

@media screen and (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
}

/* =========== 
森尻さん
=========== */
main section.mori {
  background-color: #080A0E;
}
main section.food .images {
  width: 40%;
}
main section.mori .texts {
  background-color: #080A0E;
}

/* =========== 
Contact
=========== */
.contact {
  background-color: #10151a;
}
.icon-box {
  height: 180px;
}
.icon-space {
  display: table;
  height: 180px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
.icon-space:nth-child(1):after,
.icon-space:nth-child(2):after
 {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: #fff;
}
.icon-posi {
  margin: auto 0;
  display: table-cell;
  vertical-align: middle;
}
.icon-text {
  font-size: 14px;
  margin: 10px auto;
}
.tel {
  width: 25%;
/*  background: url(../images/contact/tel.png) no-repeat;
  background-size: cover;
  width: 24%;
  height: 46%;*/
}
.line {
  width: 25%;
  /*background: url(../images/contact/line.png) no-repeat;
  background-size: cover;
  width: 24%;
  height: 46%;*/
}
.mail {
  width: 30%;
  margin-top: 5px;
  margin-bottom: 5px;
  /*background: url(../images/contact/mail.png) no-repeat;
  background-size: cover;
  width: 27%;
  height: 35%;*/
}

/* =========== 
Footer
=========== */


/* =========== 
Google map
=========== */
iframe{
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
   
iframe:hover{
  transition: filter 0.8s ease;
  -webkit-filter: grayscale(0) saturate(2);
  filter: grayscale(0) saturate(2);
}