
/* =========== 
1. Concept
=========== */
main section.catering-visual {
  background: url("../images/catering/top-visual.jpg") center center !important;
  background-size: cover !important;
}
.catering_concept {
  background-color: #7E7F7E !important;
  padding: 40px 0;
}
#for-catering .logo-box {
    width: 206px;
    height: 80%;
}

main section.concept p {
 color: #fff !important;
}

@media screen and (max-width: 414px) {
  .logo-box {
    width: 109px !important;
   }
   .title_party {
    font-size: 16px;
   }
}

/* =========== 
2. Course
=========== */
.catering_food,
main section.catering_food .texts,
main section.catering_food .images {
  background-color: #EDEDED !important;
  color: #828282 !important;
}
main .catering_food {
  padding: 0;
}
.catering_food h2:after,
.catering_contact h2:after {
    position: absolute;
    left: 0;
    bottom: -4px;
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: #828282;
}
main section.catering_food .texts {
    padding: 0 !important;
    margin-bottom: 0 !important;
  }
main section.catering_food .images {
  height: 505px;
}

.catering_food .fs_14{
  font-size: 1.4rem !important;
}
@media screen and (max-width: 768px) {
  .food_space {
    margin-top: 0;
  }
  main section.catering_food .texts {
    padding: 40px !important;
  }
  .catering_food div,
  .catering_food p,
  .catering_food ul {
    font-size: 1.1rem;
  }
  .catering_food .texts-box{
    line-height: 2.9rem;
  }
  main section.catering_food .images {
    height: 100%;
  }
}
@media screen and (min-width: 769px){
  .slick-slider {
    height: 100%;
  }
  .slick-list {
    height: 100%;
  }
  .slick-track {
    height: 100%;
  }
  .slick-slide {
    height: 100%;
  }
  main section.food .images img {
    height: 100%;
    object-fit: cover;
  }
}


/* =========== 
3. Contact
=========== */
#for-catering section.mori {
  background-color: #EDEDED !important;
} 
.catering_contact {
  background-color: #FFFFFF !important;
  color: #828282 !important;
  padding: 0;
}

main#for-catering section.mori {
  padding: 0;
}
main#for-catering section.mori .texts {
  background-color: #EDEDED !important;
}


#for-catering .mori h2 {
  color: #828282 !important;
}

#for-catering .mori h2:after {
  background: #828282 !important;
}

.catering_contact .tel,
.catering_contact .line,
.catering_contact .mail{
  width: 33%;
}

/* =========== 
4. 埋め込み
=========== */
 .embed-top {
  margin-top: 3%;
 }

 @media screen and (max-width: 768px) {
  .sp-order-2 {
    order: 2;
  }
  .sp-order-1 {
    order: 1;
  }
  .position-fix {
    /*padding-top: 70px;*/
  }
 }



/* =========== 
5. Insta
=========== */

.logo-label {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 3% 0;
}

.insta-logo {
  width: 212px;
  height: 100%;
}

.insta-images {
  width: 100%;
  height: 100%;
}
.iframe-wrapper {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: 33.25%;
}
.iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


@media screen and (max-width: 768px) {
  .insta-logo {
    width: 138px;
    height: 100%;
  }
}















