@import url("https://fonts.googleapis.com/css?family=Arvo:400,700 &display=swap");
.slick-slider {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0
}
.slick-list:focus {
    outline: none
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.slick-track:before,
.slick-track:after {
    content: "";
    display: table
}
.slick-track:after {
    clear: both
}
.slick-loading .slick-track {
    visibility: hidden
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none
}
[dir="rtl"] .slick-slide {
    float: right
}
.slick-slide img {
    display: block
}
.slick-slide.slick-loading img {
    display: none
}
.slick-slide.dragging img {
    pointer-events: none
}
.slick-initialized .slick-slide {
    display: block
}
.slick-loading .slick-slide {
    visibility: hidden
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}
.slick-arrow.slick-hidden {
    display: none
}
.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 0.25
}
.slick-prev:before,
.slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.slick-prev {
    left: -25px
}
[dir="rtl"] .slick-prev {
    left: auto;
    right: -25px
}
.slick-prev:before {
    content: "←"
}
[dir="rtl"] .slick-prev:before {
    content: "→"
}
.slick-next {
    right: -25px
}
[dir="rtl"] .slick-next {
    left: -25px;
    right: auto
}
.slick-next:before {
    content: "→"
}
[dir="rtl"] .slick-next:before {
    content: "←"
}
.slick-dotted.slick-slider {
    margin-bottom: 30px
}
.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%
}
.slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer
}
.slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    height: 20px;
    width: 20px;
    outline: none;
    line-height: 0;
    font-size: 0;
    color: transparent;
    padding: 5px;
    cursor: pointer
}
.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1
}
.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "•";
    width: 20px;
    height: 20px;
    font-family: "slick";
    font-size: 6px;
    line-height: 20px;
    text-align: center;
    color: black;
    opacity: 0.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.slick-dots li.slick-active button:before {
    color: black;
    opacity: 0.75
}
html {
    font-size: 62.5%
}
body {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    color: #ffffff
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none
}
a {
    color: inherit;
    text-decoration: none
}
h1 {
    font-size: 6rem
}
@media(max-width: 768px) {
    h1 {
        font-size: 2.7rem
    }
}
h2 {
    font-size: 1.8rem;
    letter-spacing: 0.216rem;
    display: inline-block;
    position: relative;
    margin: 0;
    font-weight: normal
}
@media(max-width: 768px) {
    h2 {
        font-size: 1.4rem;
        letter-spacing: 0.12rem
    }
}
h2:after {
    position: absolute;
    left: 0;
    bottom: -4px;
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: #ffffff
}
h3 {
    font-size: 2.8rem;
    font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    letter-spacing: 0.7rem;
    line-height: 1.61;
    margin: 50px 0 45px;
    font-weight: normal
}
@media(max-width: 768px) {
    h3 {
        font-size: 1.6rem;
        letter-spacing: 0.4rem;
        margin: 25px 0
    }
}
p {
    font-size: 1.4rem;
    margin: 0
}
@media(max-width: 768px) {
    p {
        font-size: 1.1rem
    }
}
.slick-arrow {
    z-index: 10;
    width: 28px;
    height: 51px
}
@media(max-width: 768px) {
    .slick-arrow {
        width: 15px;
        height: 26px
    }
}
.slick-arrow:before {
    display: block;
    width: 100%;
    height: 100%
}
.slick-prev {
    left: 40px
}
@media(max-width: 768px) {
    .slick-prev {
        left: 28px
    }
}
.slick-prev:before {
    content: '';
    background: url("../images/arrow-left.svg") no-repeat center center;
    background-size: cover
}
.slick-next {
    right: 40px
}
@media(max-width: 768px) {
    .slick-next {
        right: 28px
    }
}
.slick-next:before {
    content: '';
    background: url("../images/arrow-right.svg") no-repeat center center;
    background-size: cover
}
.pc-header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px;
    -webkit-transition: background 0.2s ease, padding 0.2s ease;
    transition: background 0.2s ease, padding 0.2s ease
}
.pc-header.is-active {
    padding: 18px 30px;
    background: #070b11
}
@media(max-width: 768px) {
    .pc-header {
        display: none
    }
}
.pc-header .logo img {
    width: 132px;
    height: 56px
}
.pc-header .right {
    margin-left: auto
}
.pc-header .menu {
    display: inline-flex;
    align-items: center
}
.pc-header .menu .menu-item {
    font-size: 1.8rem;
    letter-spacing: 0.36rem;
    display: inline;
    margin-right: 38px
}
.pc-header .menu .menu-item > a,
.top_tel>a {
    display: inline-block;
    position: relative
}
.pc-header .menu .menu-item>a:after,
.top_tel>a:after {
    -webkit-transition: width 0.2s ease;
    transition: width 0.2s ease;
    position: absolute;
    content: '';
    left: 0;
    bottom: -2px;
    height: 1px;
    width: 0;
    background: #ffffff
}
.pc-header .menu .menu-item>a:hover:after,
.top_tel>a:hover:after {
    width: 100%
}
.pc-header .menu .links {
    display: inline-flex;
    aling-items: center
}
.pc-header .menu .links-item {
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    margin-right: 20px
}
.pc-header .menu .links-item:hover {
    opacity: 0.7
}
.pc-header .menu .links-item:last-child {
    margin-right: 0
}
.pc-header .menu .links-item img {
    width: 30px;
    height: 30px
}
.sp-header {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%
}
@media(max-width: 768px) {
    .sp-header {
        display: block
    }
}
.sp-header .contents {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    height: 65px;
    padding: 0 20px;
    background: #070b11
}
.sp-header .hamburger-menu {
    width: 29px;
    height: 20px;
    cursor: pointer
}
.sp-header .hamburger-menu .line {
    width: 100%;
    height: 2px;
    margin-bottom: 7px;
    background: #ffffff;
    -webkit-transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
    transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
    transition: opacity 0.2s ease, transform 0.2s ease;
    transition: opacity 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0
}
.sp-header .hamburger-menu.is-active .line:nth-child(1) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}
.sp-header .hamburger-menu.is-active .line:nth-child(2) {
    opacity: 0
}
.sp-header .hamburger-menu.is-active .line:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(-45deg);
    transform: translateY(3px) rotate(-45deg)
}
.sp-header .logo {
    position: absolute;
    left: 0;
    right: 0;
    width: 90px;
    height: 38px;
    margin: 0 auto
}
.sp-header .logo img {
    width: 100%;
    height: auto
}
.sp-header .links {
    display: inline-flex;
    align-items: center;
    margin-left: auto
}
.sp-header .links-item {
    width: 25px;
    height: 25px;
    margin-right: 13px
}
.sp-header .links-item:last-child {
    margin-right: 0
}
.sp-header .links-item img {
    width: 100%;
    height: auto
}
.sp-header .menu {
    display: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    top: 75px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 50%;
    padding: 20px;
    background: rgba(7, 11, 17, 0.95);
    text-align: center
}
.sp-header .menu .menu-item {
    font-size: 1.4rem;
    letter-spacing: 0.28rem;
    line-height: 4;
    color: #828282
}
main .container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 5%;
    text-align: center
}
@media(max-width: 768px) {
    main .container {
        padding: 0 20px
    }
}
main .button {
    position: relative;
    overflow: hidden;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 215px;
    height: 55px;
    border: 1px solid #ffffff;
    background: #10151a
}
main .button:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 100%;
    background: #ffffff;
    -webkit-transform: skew(-20deg) translateX(-105%);
    transform: skew(-20deg) translateX(-105%);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease
}
main .button:hover {
    color: #10151a
}
main .button:hover:after {
    -webkit-transform: skew(-20deg) translateX(-5%);
    transform: skew(-20deg) translateX(-5%)
}
@media(max-width: 768px) {
    main .button {
        width: 116px;
        height: 35px
    }
}
main .button a {
    font-size: 1.4rem;
    letter-spacing: 0.28rem;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%
}
@media(max-width: 768px) {
    main .button a {
        font-size: 1rem;
        letter-spacing: 0.1rem
    }
}
main section.main-visual {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 680px;
    background: url("../images/main-visual3.jpg")  center center;
    background-position: 50% 20% no-repeat center center;
    background-size: cover
}
@media(max-width: 768px) {
    main section.main-visual {
        height: 300px;
        background-position: center;
        margin: 65px 0 0;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
main section.main-visual .texts {
    text-align: center
}
main section.main-visual .texts h1 {
    letter-spacing: 1.2rem;
    margin: 0 0 45px;
    font-weight: normal;
    font-family: "Arvo", serif;
    line-height: 1.5
}
@media(max-width: 768px) {
    main section.main-visual .texts h1 {
        letter-spacing: 0.44rem;
        margin-bottom: 4px;
        line-height: 1.8
    }
}
main section.main-visual .texts .caption {
    font-size: 1.4rem;
    letter-spacing: 0.364rem
}
@media(max-width: 768px) {
    main section.main-visual .texts .caption {
        font-size: 1rem;
        letter-spacing: 0.18rem
    }
}
main section.main-visual .scroll-icon {
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    position: absolute;
    bottom: 60px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    -webkit-animation: move 0.5s infinite ease alternate;
    animation: move 0.5s infinite ease alternate
}
main section.main-visual .scroll-icon:hover {
    opacity: 0.7
}
@media(max-width: 768px) {
    main section.main-visual .scroll-icon {
        bottom: 20px;
        width: 30px;
        height: 30px
    }
}
@-webkit-keyframes move {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    100% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px)
    }
}
@keyframes move {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    100% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px)
    }
}
main section.main-visual .scroll-icon img {
    width: 100%;
    height: auto
}
main section.concept {
    padding: 74px 0 82px;
    background: #070b11
}
@media(max-width: 768px) {
    main section.concept {
        padding: 32px 0 34px;
    }
}
main section.concept h3 {
    margin-bottom: 25px
}
main section.concept p {
    letter-spacing: 0.13rem;
    color: #828282;
    line-height: 2.79
}
@media(max-width: 768px) {
    main section.concept p {
        line-height: 2.2
    }
}
main section.food,
main section.mori {
    display: flex
}
@media(max-width: 768px) {
    main section.food, .contact, .mori {
        display: block
    }
}
main section.food .texts{
    padding: 110px 8%;
    width: 50%;
    background: #10151a
}
main section.mori .texts {
    padding: 20px 8%;
}
@media(max-width: 768px) {
    main section.food .texts,
    main section.contact .texts,
    main section.mori .texts {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        padding: 33px 20px;
        text-align: center
    }
}
@media(max-width: 768px) {
    main section.food .texts h3,
    main section.contact .texts h3,
    main section.mori .texts h3 {
        margin: 25px 0 10px
    }
}
main section.food .texts p,
main section.contact .texts p,
main section.mori .texts p {
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 0.216rem;
    color: #828282
}
main section.food .texts .button,
main section.contact .texts .button {
    margin-top: 74px
}
@media(max-width: 768px) {
    main section.food .texts .button,
    main section.contact .texts .button {
        margin: 30px auto 0
    }
}
main section.food .images {
    width: 50%;
    background: #070b11
}
main section.mori .images {
     width: 40%;
     height: 100%;
     object-fit: cover;
}
@media(max-width: 768px) {
    main section.food .images,
    main section.contact .images,
    main section.mori .images{
        width: 100%
    }
    main section.mori .images {
        height: 50%;
    }
}
main section.food .images .slick-slider {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
@media(max-width: 768px) {
    main section.food .images .slick-slider {
        top: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}
main section.food .images img,
main section.contact .images img,
main section.mori .images img {
    width: 100%;
    height: auto
}
main section.event {
    background: #070b11
}
main section.event .container {
    padding-top: 78px;
    padding-bottom: 57px
}
@media(max-width: 768px) {
    main section.event .container {
        padding-top: 48px;
        padding-bottom: 44px
    }
}
main section.event h3 {
    font-size: 2.4rem;
    letter-spacing: 0.5rem
}
@media(max-width: 768px) {
    main section.event h3 {
        font-size: 1.4rem;
        letter-spacing: 0.2rem;
        line-height: 2
    }
}
main section.event .information {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    max-width: 1032px;
    margin: 0 auto 44px;
    padding: 20px 30px;
    border: 1px solid #ffffff
}
@media(max-width: 768px) {
    main section.event .information {
        display: block;
        padding: 18px;
        margin-bottom: 30px
    }
}
main section.event .information .box {
    padding-right: 24px;
    margin-right: 44px
}
main section.event .information .box:last-child {
    margin-right: 0
}
@media(max-width: 768px) {
    main section.event .information .box {
        width: 100%;
        padding: 0
    }
}
main section.event .information .box p {
    letter-spacing: 0.24rem
}
@media(max-width: 768px) {
    main section.event .information .box p {
        letter-spacing: 0.14rem
    }
}
main section.event .information .facility {
    position: relative
}
main section.event .information .facility:after {
    content: '';
    position: absolute;
    display: block;
    top: 10px;
    right: 0;
    width: 1px;
    height: 120px;
    background: #ffffff
}
@media(max-width: 768px) {
    main section.event .information .facility:after {
        display: none
    }
}
main section.event .information .facility p:last-child {
    letter-spacing: 0
}
@media(max-width: 768px) {
    main section.event .information .facility {
        border-bottom: 1px solid #ffffff;
        padding-bottom: 12px;
        margin-bottom: 15px
    }
}
main section.event .information p {
    text-align: left;
    color: #828282;
    line-height: 2
}
@media(max-width: 768px) {
    main section.event .information p {
        line-height: 1.9
    }
}
main section.event .information p.title {
    color: #ffffff
}
main section.event .information p.caption {
    margin-top: 20px
}
@media(max-width: 768px) {
    main section.event .information p.caption {
        margin-top: 13px
    }
}
main section.event .buttons {
    display: flex;
    justify-content: center
}
main section.event .buttons .button {
    margin: 0 15px
}
@media(max-width: 768px) {
    main section.event .buttons .button {
        margin: 0 10px
    }
}
main section.event .images {
    display: flex
}
@media(max-width: 768px) {
    main section.event .images {
        display: block
    }
}
main section.event .images .layout-image {
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease
}
main section.event .images .layout-image:hover {
    opacity: 0.7
}
main section.event .images .event-slider,
main section.event .images .layout-image {
    width: 50%
}
@media(max-width: 768px) {
    main section.event .images .event-slider,
    main section.event .images .layout-image {
        width: 100%
    }
}
main section.event .images .event-slider img,
main section.event .images .layout-image img {
    width: 100%;
    height: auto
}
main section.access {
    padding: 80px 0 100px;
    background: #10151a
}
@media(max-width: 768px) {
    main section.access {
        padding: 47px 0 18px
    }
}
main section.access .container h3 {
    margin-bottom: 35px
}
@media(max-width: 768px) {
    main section.access .container h3 {
        margin-bottom: 18px
    }
}
main section.access .container .button {
    margin: 0 auto 48px
}
@media(max-width: 768px) {
    main section.access .container .button {
        margin-bottom: 28px
    }
}
main section.access .container .googlemap {
    margin-bottom: 36px
}
@media(max-width: 768px) {
    main section.access .container .googlemap {
        margin-bottom: 20px
    }
}
main section.access .container .googlemap iframe {
    width: 100%;
    height: 500px
}
@media(max-width: 768px) {
    main section.access .container .googlemap iframe {
        height: 300px
    }
}
main section.access .container .information {
    display: flex;
    justify-content: space-between
}
@media(max-width: 768px) {
    main section.access .container .information {
        display: block
    }
}
main section.access .container .information .box {
    width: 50%;
    padding-right: 24px
}
@media(max-width: 768px) {
    main section.access .container .information .box {
        width: 100%;
        padding: 0;
        margin-bottom: 20px
    }
}
main section.access .container .information .box p {
    letter-spacing: 0.28rem;
    line-height: 2;
    text-align: left
}
@media(max-width: 768px) {
    main section.access .container .information .box p {
        letter-spacing: 0.16rem
    }
}
.footer {
    background: #070b11;
    padding: 20px 70px
}
@media(max-width: 768px) {
    .footer {
        padding: 30px 20px 0
    }
}
.footer .contents {
    display: flex;
    align-items: flex-end;
    padding: 90px 0 76px
}
@media(max-width: 768px) {
    .footer .contents {
        display: block;
        text-align: center;
        padding: 0
    }
}
.footer .logo {
    width: 132px;
    height: 56px;
    margin-right: 35px
}
@media(max-width: 768px) {
    .footer .logo {
        width: 90px;
        height: 38px;
        margin: 0 auto 10px
    }
}
.footer .logo a {
    display: block;
    width: 100%;
    height: 100%
}
.footer .logo img {
    width: 100%;
    height: auto
}
.footer .information {
    display: flex;
    align-items: center
}
@media(max-width: 768px) {
    .footer .information {
        display: block;
        text-align: center;
        margin-bottom: 22px
    }
}
.footer .information .texts p {
    letter-spacing: 0.37rem;
    line-height: 2.07
}
@media(max-width: 768px) {
    .footer .information .texts p {
        letter-spacing: 0.2rem;
        margin-bottom: 10px
    }
}
.footer .information .texts a:hover {
    text-decoration: underline
}
.footer .links {
    display: inline-flex;
    aling-items: center;
    margin-left: auto
}
.footer .links-item {
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    width: 30px;
    height: 30px;
    margin-right: 20px
}
.footer .links-item:hover {
    opacity: 0.7
}
@media(max-width: 768px) {
    .footer .links-item {
        width: 25px;
        height: 25px
    }
}
.footer .links-item:last-child {
    margin-right: 0
}
.footer .links-item img {
    width: 100%;
    height: auto
}
.footer .copyright {
    text-align: center
}
@media(max-width: 768px) {
    .footer .copyright {
        padding: 24px 0 22px
    }
}
.footer .copyright small {
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
    color: #828282
}
@media(max-width: 768px) {
    .footer .copyright small {
        font-size: 1rem;
        letter-spacing: 0.18rem
    }
}